* {
    margin: 0 auto;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    display: block;
    filter: blur(0em);
    transition: filter 0.5s;
    margin: 10px auto;
}

header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}

a {
    color: white;
    text-decoration: none;
}