* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
}

header, footer {
    background-color: #2E5DA1;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 1rem;
}

main h2 {
    margin: 1rem;
}

li {
    line-height: 1.5rem;
}