/* https://coolors.co/fec800-5e17eb-98c1d9-25171a */
/* https://coolors.co/fec800-5e17eb-0d1321-86615c */


/* https://coolors.co/00539d-fff200-d5ebff-0d1321 */

/* Some of these were based on WDD130 Site Plan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

header, footer {
    color: #0D1321;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
}

header, main, footer {
    max-width: 767px;
    margin: 0 auto;
}

nav {
    background-color: #2E5DA1;
    margin: 0 auto;
    max-width: 780px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    background: linear-gradient(90deg, transparent, #F7960F, transparent) bottom / 
    var(--d, 0) 3px no-repeat;
    transition: 0.5s;
}

.active {
    font-weight: bolder;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
}

main {
    padding: 0.75rem;
}

section {
    margin-top: 25px;
    margin-bottom: 25px;
}

h3, h4, p {
    margin-bottom: 0.75rem;
}

p {
    font-size: .9em;
}

section h3 {
    background-color: #F7960F;
}

hr {
    margin-bottom: 10px;
}

.colors th {
    background-color: lightgray;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: #2E5DA1;
    color: white;
}

.secondary {
    background-color: #F7960F;
}

.accent1 {
    background-color: #F5F5F5;
}

.accent2 {
    background-color: #85C536;
}

p.colored, p.non-colored {
    padding: 18px;
    border: 1px solid rgb(0,0,0,0.2);
}
p.colored {
    color: black;
    background-color: #85C536;
}

#logo {
    width: 300px;
    height: auto;

}

footer {
    padding: .5rem;
    display: block;
    text-align: center;
    background-color: #00539D;
    color: #D5EBFF;
}