@media only screen and (min-width: 60em) {
    .hamburger {
        display: none;
    }

    nav {
        grid-column: 5/10;
        grid-row: 1/2;

    }
  
    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        background-color: #2E5DA1;
        transition: 0s;
    }

    .nav-menu a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        color: white;
        padding: 10px;
    }

    .nav-menu a:hover {
        border-radius: 25px;
    }

    ul.nav-social {
        grid-column: 11/13;
        grid-row: 1/2;
        margin-right: 20px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 10px 25px;
    }

    #hero {
        grid-column: 4/10;
        grid-row: 1/3;
        margin-right: 10px;
    }

    #event {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    #weather {
        grid-column: 1/4;
        grid-row: 2/3;
        margin-right: 10px;
    }

    #join {
        grid-column: 1/4;
        grid-row: 3/4;
        margin-right: 10px;
    }

    #spotlight {
        grid-column: 10/13;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    section div.spotlight {
        margin: 0 5px;
    }

    section div.spotlight:nth-child(3) {
        display: block;
    }

    #news {
        grid-column: 4/10;
        grid-row: 3/4;
        margin-right: 10px;
    }

    #base-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    
}