@media only screen and (min-width: 60em) {
    .hamburger {
        display: none;
    }

    nav {
        grid-column: 6/11;
        grid-row: 1/2;

    }
  
    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        transition: 0s;
    }
    
    .nav-menu.open {
        display: flex;
        flex-direction: row;
    }

    .nav-menu a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        color: #23487B;
        padding: 10px;
    }

    .nav-menu a:hover {
        border-radius: 25px;
    }

    ul.nav-social {
        grid-column: 11/13;
        grid-row: 1/2;
        margin-right: 20px;
    }

    main {
        margin: 10px 25px;
        column-gap: 10px;
        row-gap: 10px;
    }

    /* home */

    #event, #news, #weather {
        gap: 0;
    }

    #hero {
        grid-column: 4/10;
        grid-row: 1/3;
    }

    #hero img {
        max-height: none;
    }

    #hero .button {
        grid-row: 5/6;
        justify-self: flex-end;
    }

    #event {
        grid-column: 1/4;
        grid-row: 1/2;
        margin: 0;
    }

    #weather {
        grid-column: 1/4;
        grid-row: 2/3;
        margin: 0;
    }

    #join {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    #spotlight {
        grid-column: 10/13;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 0;
        border: 2px solid rgba(0, 0, 0, 0.2);
    }

    div.tel-web {
        column-gap: 5px;
    }
    #spotlight p, #spotlight a {
        font-size: 12px;
    }

    section div.spotlight:nth-child(3) {
        display: inherit;
    }

    .spotlightImg {
        height: fit-content;
    }

    #news {
        display: flex;
        /* Should I remove justify-content? */
        justify-content: center;
        grid-column: 4/10;
        grid-row: 3/4;
        margin: 0;
    }

        /* discover */

    .visits {
        margin-bottom: 0;
    }
    
    .discover img:hover {
        transform: translateY(-.25em);
        box-shadow: 0 3px 3px black;
        transition: 0.8s;
    }

        /* footer */

    #base-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    
}