* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Verdana, sans-serif;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.banner {
    text-align: center;
    background-color: #85C536;
    padding: 10px;
    display: none;
}

.banner button {
    background-color: transparent;
    border: none;
}

/* <----------- HEADER ----------------> */

header {
    display: grid;
    grid-template-columns:  80px repeat(11, 1fr);
    grid-template-rows: 90px auto auto;
    align-items: center;
    justify-content: center;
}

header a {
    text-decoration: none;
    text-shadow: 2px 2px 0 #aecdfa;
    color: #23487B;
}
#headerLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

h1 {
    grid-column: 2/7;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    color: #23487B;
}

h1 span {
    font-size: 16px;
}

ul.nav-social {
    grid-column: 8/12;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.nav-social a {
    text-decoration: none;
}

.nav-social li {
    list-style-type: none;
}

.nav-social img {
    width: 35px;
}

header button {
    grid-column: 12/13;
    grid-row: 1/2;
    width: 35px;
    justify-self: flex-end;
    margin: 0 10px;
}

nav {
    grid-column: 1/13;
}

#time {
    grid-column: 1/13;
    background-color: #F7960F;
    text-align: center;
    color: black;
    padding: 10px;
}

.hamburger {
    border: none;
    background-color: transparent;
    font-size: 35px;
    color: #2E5DA1;
}

.hamburger :nth-child(1) {
    display: block;
}

.hamburger :nth-child(2) {
    display: none;
}

.hamburger.open :nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.hamburger.open :nth-child(1) {
    display: none;
}

.nav-menu {
    display: none;
    background-color: white;
    margin: 0 0;
}

.nav-menu.open {
    display: flex;
    flex-direction: column;

}

.nav-menu li {
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.nav-menu a {
    display: block;
    text-align: center;
    padding: 16px 0;
    color: #2E5DA1;
    text-shadow: none;
}

.nav-menu a:hover {
    color: black;
    background-color: #85C536;
    transform: scale(1.1);
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/* <----------- MAIN ----------------> */


main section {
    padding: 16px;
    margin: 0 auto;
    box-shadow: 0 0 10px lightgray;
    background-color: white;
}

main h2, main p {
    color: #23487B;
}

#event, #news, #join, #weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    gap: 10px;
    color: #23487B;
    border: 2px solid rgba(0,0,0, 0.2);
}

/* <----------- hero ----------------> */

#hero {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
}

#hero h2 {
    grid-column: 1/13;
    grid-row: 2/3;
    z-index: 1;
    justify-self: center;
    color: black;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px white;
}

#hero img {
    grid-column: 1/13;
    grid-row: 1/6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .button {
    grid-column: 1/13;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    margin: 16px;
    padding: 8px;
    background-color: #F7960F;
    color: black;
}

.button {
    border: 2px solid white;
    text-decoration: none;
    box-shadow: 1px 1px 5px black;
}

.button:hover {
    border: 2px solid #2E5DA1;
}

/* <----------- weather ----------------> */

#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 5px;
    width: fit-content;
}

#weather h2 {
    grid-column: 1/3;
}

#weather div {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#weather img {
    max-width: 100px;
}

.weatherDescription, .weatherDetail {
    grid-column: 1/3;
}

.temperature {
    font-size: 36px;
}

.weatherDescription {
    font-size: 21px;
    font-weight: bold;
}

#weather table {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    grid-column: 1/3;
    text-align: right;
}

#weather td:nth-child(2) {
    text-align: left;
}

#weather td {
    padding: 5px;
}
/* <----------- news ----------------> */

#news {
    align-items: flex-start;
    justify-content: flex-start;
}

/* <----------- event ----------------> */

#event p, #event h2 {
    text-align: center;
}

#event a {
    font-weight: bolder;
    color: #23487B;
    text-decoration: none;
}

/* <----------- join ----------------> */

#join {
    display: none;
}

#join h2 {
    display: none;
}

/* <----------- spotlight ----------------> */

#spotlight {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.spotlight {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 10px;
    color: #23487B;
    border: 2px solid rgba(0,0,0, 0.2);
}

div.spotlight h4 {
    text-align: center;
}

.spotlight h3 {
    font-size: 1.3rem;
    width: 100%;
    margin-top: -10px;
    padding: 10px;
    background-color: #23487B;
    text-align: center;
    color: white;
}

div.spotlight hr {
    width: 100%;
}

div.spotlight a {
    color: #23487B;
    text-decoration: none;
    font-weight: bolder;
    background: linear-gradient(90deg, transparent, #F7960F, transparent) bottom / 
    var(--d, 0) 3px no-repeat;
    transition: 0.5s;

}

div.spotlight a:hover {
    --d: 75%;
}

.spotlightImg {
    height: 145px;
    display: flex;
    align-items: center;
}

div.tel-web {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

section div.spotlight:nth-child(3) {
    display: none;
}

/* <---------------- discover -----------------> */

.visits {
    background-color: #23487B;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visits-label {
    font-weight: bolder;
}

.visits p {
    color: white;
}
.discover {
    margin: 10px auto;
}

.discover img {
    width: 100%;
    margin: 8px auto;
}

#demographics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #23487B;
}

#demographics img {
    width: 200px;
    align-self: center;
    margin: 8px auto;
}

p.attribution {
    font-style: italic;
    font-size: 0.8em;
    margin: 8px auto;
}

/* <----------- JOIN ----------------> */

h2.join {
    text-align: center;
    padding: .75rem;
}

.thankYouMsg {
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
    margin: 100px auto;
    font-size: 1.5rem;
    text-align: center;
}

form {
    margin: 10px auto 20px auto;
    display: grid;
}

form fieldset {
    margin: 10px 8px;
    color: #23487B;
    border-radius: 5px;
    border-color: #23487B;
}

form fieldset legend {
    padding: 8px .75rem;
    border: 2px solid #F7960F;
}

form label {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-top: 10px;
}

form input {
    font-size: 1rem;
    padding: 4px;
    background-color: #eee;
    border: 1px solid #23487B;
}

form textarea {
    background-color: #eee;
    padding: 4px;
}

form input:invalid, form input:required {
    border-left: 4px solid #d00303;
}

form input:valid {
    border-left: 4px solid #85C536;
}

form label.sbs {
    display: block;
    font-size: 1rem;
    padding: .85rem;
    margin: 0;
}

form div.radioInstruction {
    margin: 10px;
}

input[type=radio] {
    padding-left: 4px;
    text-transform: inherit;
}

form input.submitBtn {
    border: 2px solid white;
    background-color: #85C536;
    padding: 2%;
    font-size: 1.5rem;
    box-shadow: 1px 1px 5px black;
    display: block;
    align-self: center;
    justify-self: center;
}

form input.submitBtn:hover {
    border: 2px solid #23487B;
}

table.features {
    margin: 0 2%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0 10px lightgray; */
    border-collapse: collapse;
}

table.features caption {
    padding: 4px;
    caption-side: bottom;
    font-size: 0.85rem;
}

table.features thead {
    background-color: #23487B;
    color: white;
}

table.features th.table-subheader {
    background-color: #2E5DA1;
    color: white;
}

table.features td {
    padding: 7px 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1rem;
}

table.features th {
    font-size: 1.1rem;
    padding: 8px;
}

table.features tbody tr:nth-child(even) {
    background-color: #EEE;
}

table.features tbody tr td:first-child {
    font-weight: bold;
    text-align: left;
}

table.features tr.fees td.price {
    font-size: 12px;
}

/* <----------- DIRECTORY ----------------> */

h2.directory {
    text-align: center;
    margin: 1rem;
}

div.directory-button {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
}

div.directory-button button {
    border: 2px solid #F7960F;
    background-color: white;
    padding: .35rem;
    margin: .35rem;
    box-shadow: 1px 1px 3px #555;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}

div.directory-button button > img {
    width: 44px;
    height: 44px;
}

div.cards section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .35rem;
    margin: 1rem;
    color: #23487B;
}

div.cards section p {
    font-size: 14px;
    text-align: center;
}

img.directory-logo {
    min-width: 90px;
    max-width: 200px;
    margin: .35rem auto 0 auto;
}
/* <----------- FOOTER ----------------> */


footer {
    background-color: #23487B;
    color: white;
}


footer a {
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, transparent, #F7960F, transparent) bottom / 
    var(--d, 0) 3px no-repeat;
    transition: 0.5s;
}

footer a:hover {
    --d: 75%;
}

footer img {
    width: 95px;
    height: auto;
    background-color: white;
    border-radius: 50%;
}

#chamber-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 25px;
}

#chamber-footer-g1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#chamber-footer-g1 p {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    font-style: italic;

}

#chamber-footer-g1 address {
    text-align: center;
}

#chamber-footer-g2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#base-footer {
    text-align: center;
    padding: 25px;
}

.separator {
    display: none;
}