@media only screen and (min-width: 32.5em) {
  
    header img {
        width: 150px;
        height: auto;
    }
    header h1 {
        font-size: 52px;
    }
    main h2 {
        text-align: center;
    }

    main ul {
        margin-left: 25%;
    }
}