/* https://coolors.co/012a36-482727-f5cac3-84a59d-f28482 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Poppins', Georgia, sans-serif;
}
/* header */

header {
    display: grid;
    background-color: #F5CAC3;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
}

header img {
    height: 150px;
    width: 150px;
    grid-column: 1/2;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 5px 5px 10px grey;
    align-self: center;
}

header h1 {
    grid-column: 2/3;
    font-size: 3em;
    color: #493e3e;
    text-shadow: 2px 2px 3px #84a59d;
    text-align: center;
    align-self: center;
}

/* main */

main {
    color: #482727;
    font-family: 'Roboto Mono', Courier, monospace;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 25px;
}

main hr {
    color: #84a59d;
}

main h2 {
    font-family: 'Libre Baskerville', Garamond, serif;
    text-shadow: 2px 2px 5px #84a59d;
}

main a {
    color: #482727;
}

main a:hover {
    color: #482727;
    background: #F28482;
}

/* footer  */
footer {
    background-color:#F5CAC3;
    padding: 1rem;
    color: black;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

